.wrapper {
  height: calc(100vh - 190px);
  overflow-y: auto;
}

.company_wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 20px auto;
}

.company_logo {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  background: #fff;
  margin-top: 10px;
  display: flex;
  align-items: center;
  // box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    max-height: 100%;

    &.noavatar {
      width: 50%;
      margin: auto;
      display: block;
    }
  }
}

.company_name {
  margin-bottom: 0;
  color: #3e3e3e;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-top: 10px;

  img {
    width: 17px;
    margin-right: 10px;
  }
}

.navigation_wrapper {
  width: 65%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;

  .item {
    cursor: pointer;
    width: 25%;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      .icon {
        background-color: rgba($color: #f1f1f1, $alpha: 0.3);
        border-color: rgba(#707070, 0.6);
      }
    }

    .icon {
      width: 100%;
      height: 180px;
      // background: transparent linear-gradient(318deg, #ffbb00 0%, #02aeae 100%)
      //   0% 0% no-repeat padding-box;
      background: transparent;
      border: 1px solid #707070;
      border-radius: 14px;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;
      transition: 0.1s ease-in;
      padding-top: 20px;

      .icon_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 50px;

        img {
          height: 100%;
          // width: 100%;
        }
      }
    }
    .title {
      text-align: center;
      font-size: 15px;
      color: #000;
      margin-top: 25px;
    }

    .sub_title {
      color: #606f76;
      text-align: center;
      padding: 5px 15px;
      font-size: 12px;
    }
  }
}

.footer {
  height: 65px;
  background: #f7f8f8;
  font-family: 'SF Pro Display Light';
  display: flex;

  .footer_wrapper {
    // height: 100%;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    align-self: stretch;
  }

  .copyright,
  a {
    color: rgba(96, 111, 118, 0.6);
    margin-right: 30px;
  }

  .left_side {
    display: flex;
    flex: 2;
    // background: red;
    // background-color: red($color: #000000);
  }

  .right_side {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    // background-color: green;

    a {
      font-size: 20px;
      margin-right: 20px;
      transition: 0.2s ease-in;

      &:hover {
        color: #0091ff;
      }
    }
  }
}
