.item {
  cursor: pointer;

  margin: 5px 15px;
  position: relative;

  &:hover {
    .select_item {
      opacity: 1;
    }
  }

  .select_item {
    position: absolute;
    top: 15px;
    left: 8px;
    width: 15px;
    height: 15px;
    border: 1px solid #9538ff;
    opacity: 0;
    transition: 0.1s ease-in-out;

    &:checked {
      opacity: 1;
    }

    &:checked + .wrapper {
      background: #9538ff30;
    }
  }

  .wrapper {
    display: flex;
    border: 1px solid #cfd3d5;
    transition: 0.1s ease-in;
    padding: 10px;
    background: #fff;
    &.active {
      background: darken($color: #f5f5f5, $amount: 1%);
    }

    &:hover {
      background: #f5f5f5;
    }
  }

  .info {
    flex: 1;
    p {
      margin: 0;
    }

    .date {
      margin-left: 19px;
      font-size: 10px;
      color: #707070;
    }

    .message_text {
      margin-left: 19px;
      font-size: 11px;
      color: #726f6f;
    }

    .name {
      color: #323232;
      margin-left: 19px;
      font-size: 15px;

      .unread {
        display: inline-block;
        background: #2b5af8;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        margin-right: 10px;
        visibility: hidden;

        &.active {
          visibility: visible;
        }
      }
    }
  }

  &:hover {
    .actions {
      opacity: 1;
    }
  }

  .actions {
    font-size: 18px;
    align-items: flex-start;
    display: flex;
    padding-top: 5px;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.1s ease-in;

    &:hover {
      span {
        color: lighten(#0091ff, 10%);
      }
    }

    span {
      display: inline-block;
      margin-right: 8px;
      color: #0091ff;
      transition: color 0.1s ease-in;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
