.content {
  flex: 0.75;
  overflow-y: auto;
  padding: 40px 60px 20px;

  p {
    margin: 0;
  }

  .profile {
    display: flex;
    margin-bottom: 30px;

    .avatar {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 25px;
      img {
        object-fit: cover;
        width: 100%;
      }
    }

    .profile_info {
      margin-right: 25px;
      max-width: 30%;

      .name {
        font-family: 'SF Pro Display Bold';
        font-size: 18px;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 8px;
        line-height: 1.2;
      }
    }

    .basic_filter {
      border-left: 1px solid #0091ff;
      padding: 0 25px;

      .section_title {
        color: #0091ff;
        font-size: 16px;
      }

      p {
        span {
          padding-left: 10px;

          &.green {
            color: green;
          }
          &.red {
            color: red;
          }
        }
      }
    }

    .video_feedback {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: flex-start;

      video {
        max-width: 300px;
        max-height: 300px;
      }
    }
    // ===
  }

  .feedback {
    .section {
      .section_title {
        color: #9538ff;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 10px;

        span {
          font-family: 'SF Pro Display Light';
          font-weight: normal;
        }
      }

      .question {
        background: #fff;
        margin-bottom: 15px;
        display: flex;
        border-radius: 10px;
        padding: 15px 20px;

        .question_text {
          flex: 0.6;
          padding-right: 15px;
        }
        .answer {
          flex: 0.4;
          display: flex;
          justify-content: flex-end;

          .evaluation_answer {
            display: flex;
            span {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              margin-right: 5px;
              background: #cfd3d5;
              color: #fff;
              text-align: center;
              line-height: 20px;
              font-size: 14px;

              &.active {
                background: #1bcbff;
              }
            }
          }

          .answer_multi {
            min-width: 35%;
          }

          .select {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            min-width: 35%;

            &:last-child {
              margin-bottom: 0;
            }

            img {
              width: 20px;
              height: 20px;
            }

            span {
              display: inline-block;
              margin: 0 10px;
            }
          }
        }
      }

      .cover_letter {
        border: 1px solid #bd84ff;
        background: #fff;
        border-radius: 15px;
        padding: 15px 25px;
        margin-bottom: 20px;
        line-height: 1.4;
        font-size: 15px;
      }
    }
  }
  // ===

  .documents {
    .row_head,
    .row {
      display: flex;
      color: #000;
      margin-bottom: 10px;
      align-items: center;
      padding: 5px 0;

      p {
        margin: 0;
        &:nth-child(1) {
          width: 10%;
        }
        &:nth-child(2) {
          flex: 1;
        }
        &:nth-child(3) {
          width: 10%;
          text-align: center;
        }
      }

      a {
        color: #000;
      }
    }

    .row_head {
      text-decoration: underline;
    }

    .row {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(196, 194, 194, 0.4);
      &:hover {
        background: #ebebeb;
        border-radius: 5px;
      }
      p {
        &:nth-child(1) {
          padding: 0 10px;
        }
      }
    }
    // ===
  }
}
