.job_list {
  .pagination {
    background: #9e9e9e;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    button {
      background: transparent;
      border: none;
      margin: 0 3px;
    }
  }

  .row {
    display: flex;
    background: #fff;
    transition: background 0.2s ease-in-out;

    &:hover {
      // background: #fff1d1;

      .cell {
        .cell_actions {
          // z-index: 1;
          // visibility: visible;
          // opacity: 1;
        }
      }
    }

    &.row_head {
      background: #606f76;

      .cell {
        border: 1px solid #9f9f9f;
        border-right: none;
        color: #fff;

        &:last-child {
          border-right: 1px solid #9f9f9f;
        }
      }
    }

    .cell {
      width: 16%;
      // border-left: 1px solid #9f9f9f;
      padding: 5px;
      border: 1px solid #9f9f9f;
      border-right: none;
      border-top: none;
      position: relative;

      &.text_overflow {
        text-overflow: ellipsis;

        white-space: nowrap;
        overflow: hidden;
      }

      &.text_center {
        text-align: center;
      }

      &:last-child {
        border-right: 1px solid #9f9f9f;
      }

      &_size_2 {
        width: 20%;
      }

      .cell_actions {
        // position: absolute;
        // right: 0;
        // top: 0;
        // bottom: 0;
        display: flex;
        align-items: center;
        // background: #fff1d1;
        // visibility: hidden;
        // z-index: -1;
        opacity: 1;
        transition: opacity 0.2s ease-in;

        .action {
          cursor: pointer;
          padding: 2px 5px;
          margin-left: 5px;
          border: 1px solid #cfd3d5;

          &.red {
            color: #f82b60;
          }
          &.orange {
            color: #ff9b38;
          }
          &.blue {
            color: #38a3ff;
          }
          &.black {
            color: #000;
          }
          &.disable {
            color: #cfd3d5;
          }

          span {
            display: inline-block;
            margin-left: 3px;
          }
        }
      }
    }
  }
}
