.header {
  $heightHeader: 125px;
  height: $heightHeader;
  background: #f4f6f7;

  &.white {
    background: #fff;
    color: #585f69;
    .container {
      align-items: stretch;
      .nav_container {
        align-self: stretch;
        flex: 2 1 auto;
        justify-content: space-between;

        & > div {
          align-self: center;
        }

        .section_toggle {
          display: flex;
          align-self: flex-end;

          .section_item {
            margin-right: 5px;
            padding: 8px 20px;
            background: #f2f2f2;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            cursor: pointer;
            font-size: 13px;
            display: flex;
            flex-direction: column;
            .icon {
              font-size: 15px;
            }

            &.active {
              background: linear-gradient(to right, #39b098, #46b191);
              // background: #02aeae;
              color: #fff;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .job_selection {
          display: flex;
          flex: 0.5;
          padding: 0 40px;
          .dropdown {
            border: 1px solid #dadada;
            border-radius: 8px;
            cursor: pointer;
            height: 40px;
            line-height: 40px;
            flex: 1;
            padding: 0 15px;
            display: flex;

            & > span:first-child {
              display: flex;
              flex: 1;
            }
          }
        }

        .cell_actions {
          margin: 0 15px;
          .action {
            cursor: pointer;
            padding: 0 10px;
            font-size: 20px;
          }
        }

        .post_status {
          display: flex;
          align-items: center;
          margin-left: 20px;

          & > span {
            margin-right: 15px;
            color: #323232;
            font-size: 12px;
          }
        }
      }
    }
  }

  .container {
    height: $heightHeader;
    width: 85%;
    margin: auto;
    display: flex;

    .logo_container {
      flex: 1;
      max-width: 50%;
      align-self: center;

      .logo {
        display: inline-block;
        // width: 200px;
        height: 40px;

        img {
          height: 100%;
          width: auto;
        }
      }
    }

    .nav_container {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .spec_text {
        font-size: 16px;
        color: #000;
        font-family: 'SF Pro Display Light';
      }

      .button_nav {
        background-color: transparent;
        border: 1px solid #0091ff;
        display: inline-flex;
        height: 45px;
        vertical-align: middle;
        align-items: center;
        border-radius: 25px;
        padding: 0 20px;
        margin-left: 20px;
        font-family: 'Janna LT Bold';
        line-height: 0.8;
        transition: 0.2s ease-in-out;
        color: #0091ff;

        &:hover {
          border-color: darken(#0091ff, 8%);
          color: darken(#0091ff, 8%);
        }
      }

      .actions {
        display: flex;
        align-items: center;

        .plan_wrapper {
          margin-right: 50px;

          &:lang(ar) {
            margin-left: 50px;
            margin-right: 0;
          }

          .profile_status {
            .status {
              margin-bottom: 10px;
            }
          }
        }

        .balance {
          display: flex;
          align-items: center;
          margin-right: 20px;

          .icon {
            margin-right: 15px;

            img {
              width: 30px;
            }
          }

          p {
            margin-bottom: 0;
            font-size: 11px;
            color: rgba(0, 0, 0, 0.7);
            line-height: 1.2;

            &.balance_text {
              color: #000;
              font-size: 14px;
            }
          }
        }
      }

      .logout {
        color: #0091ff;
        border: 1px solid #0091ff;
        border-radius: 5%;
        padding: 5px 15px;
        font-size: 15px;
        margin: 0 5px;
        transition: 0.3s ease-in-out;

        &:hover {
          border-color: rgba(#0091ff, 0.4);
        }
      }
    }
  }
}

.profile_status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin-right: 50px;
  color: #606f76;
  font-size: 12px;

  .status {
    color: #0091ff;
    border: 1px solid #0091ff;
    align-self: center;
    font-family: 'SF Pro Display Bold';
    padding: 3px 10px;
    cursor: pointer;
    margin-bottom: 0;
    font-size: 1.1em;
  }
}
