.container {
  width: 85%;
  margin: 40px auto;

  .head {
    display: flex;
    margin-bottom: 20px;

    & > div {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .add_post_btn {
      background: #0091ff;
      border-color: #0091ff;
      padding: 0 80px;
      transition: 0.2s ease-in-out;
      height: 40px;
      margin: 0;

      &:hover {
        background: rgba(#0091ff, 0.9);
      }
    }

    .search {
      display: flex;
      justify-content: flex-end;

      $container-height: 40px;

      .search_container {
        // border: 1px solid #dadada;
        border-radius: $container-height / 2;
        height: $container-height;
        width: 60%;
        display: flex;
        align-items: center;
        padding: 5px;
        box-sizing: border-box;
        box-shadow: 2px 2px 14px #0000001a;
        overflow: hidden;

        input {
          flex: 1;
          border: none;
          font-size: 13px;
          padding: 0 8px;
          outline: none;
          line-height: $container-height;
        }

        button {
          background: #323232;
          border: none;
          outline: none;
          color: #fff;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background 0.1s ease-in;

          &:hover {
            background: lighten($color: #323232, $amount: 10%);
          }
        }
      }
    }
  }
}
